/* main style sheet */
/*blue*/
/*hover button color*/
.page-template-template-homepage .entry-content, .page-template-template-homepage .entry-header {
  max-width: 70em !important; }

.boxy {
  padding: 10px 11px;
  border: solid 1px #ccc;
  margin-bottom: 12px; }

@media (min-width: 768px) {
  .col-full {
    max-width: 70em;
    padding: 0; }

  .page-template-template-homepage .entry-content, .page-template-template-homepage .entry-header {
    max-width: 70em; } }
.site-footer {
  background-color: #E7E7EA;
  padding: 0;
  clear: both; }
  .site-footer .footer {
    clear: both;
    width: 100%;
    margin: 0 auto; }
    .site-footer .footer .woocommerce.widget_shopping_cart .cart_list li {
      color: #777; }
    .site-footer .footer h3.widget-title {
      text-transform: uppercase;
      line-height: 1;
      font-size: 1.125rem;
      color: #777; }
    .site-footer .footer .footer-top {
      width: 100%;
      border-bottom: 1px #FFF solid; }
    .site-footer .footer .footer-bottom {
      max-width: 1600px;
      margin: 0 auto; }
    .site-footer .footer .footer-social-container, .site-footer .footer .footer-subscribe {
      padding: 0 2% 3%;
      width: 50%;
      float: left; }
    .site-footer .footer .footer-social-container {
      border-right: 1px #FFF solid; }
    .site-footer .footer .footer-social {
      max-width: 800px;
      padding: 0 11.5196%;
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 0 2% 3%; }
    .site-footer .footer .footer-subscribe {
      padding: 0 2% 3%; }
      .site-footer .footer .footer-subscribe .half-ib {
        display: inline-block;
        width: 100%;
        margin: 0; }
        .site-footer .footer .footer-subscribe .half-ib input[type="search"] {
          padding: 5px;
          text-transform: lowercase; }
    .site-footer .footer .footer-links-container {
      position: relative;
      padding: 2.9412% 4.902%;
      clear: both;
      text-align: justify;
      border-top: 1px solid white; }
      .site-footer .footer .footer-links-container #menu-footer-links {
        list-style: none;
        display: block;
        margin: 0 auto;
        padding: 0;
        text-align: center; }
        .site-footer .footer .footer-links-container #menu-footer-links li {
          display: inline; }
          .site-footer .footer .footer-links-container #menu-footer-links li a {
            padding: 0 2%;
            text-decoration: none;
            color: #777;
            text-transform: uppercase; }
            .site-footer .footer .footer-links-container #menu-footer-links li a:hover {
              color: #025490; }
          .site-footer .footer .footer-links-container #menu-footer-links li i:hover {
            color: #025490; }

.home-container {
  max-width: 1600px; }

.homepage-banner {
  position: relative; }
  @media only screen and (max-width: 480px) {
    .homepage-banner {
      background: grey;
      padding: 50px 0; }
      .homepage-banner iframe {
        display: none; }
      .homepage-banner .banner-content-container {
        bottom: -20px; } }
  .homepage-banner .video-container {
    position: relative;
    padding-bottom: 37.5%;
    height: 0;
    overflow: hidden;
    z-index: 0; }
    .homepage-banner .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .homepage-banner .banner-content-container {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    max-width: 550px;
    text-shadow: 0 1px 1px #000;
    width: 100%; }
    @media only screen and (max-width: 780px) {
      .homepage-banner .banner-content-container {
        bottom: 0; } }
    .homepage-banner .banner-content-container h1 {
      margin-bottom: 0;
      line-height: 42px;
      pointer-events: none;
      color: #fff; }
    .homepage-banner .banner-content-container p {
      color: #fff; }
    .homepage-banner .banner-content-container .rule {
      display: inline-block;
      width: 172px;
      height: 3px;
      background: #E9B226;
      margin-bottom: 2px;
      pointer-events: none; }

.menu-top-nav-container {
  background: #dcdcdc;
  text-align: right; }

.home .menu-top-nav-container {
  display: none; }

#top-menu li {
  display: inline; }
  #top-menu li a {
    font-size: 12px;
    padding: 0 5px; }
    #top-menu li a .nav-divider {
      position: relative;
      margin-left: 10px; }

#masthead {
  padding-top: 20px; }
  @media only screen and (max-width: 920px) {
    #masthead {
      text-align: center; }
      #masthead img, #masthead .logo {
        float: none; } }

.main-navigation ul.menu ul.sub-menu .nav-divider {
  display: none; }

.main-navigation ul {
  display: inline-block;
  margin: 0 auto; }
  .main-navigation ul li {
    float: none;
    display: inline-block; }
    .main-navigation ul li .nav-divider {
      position: absolute;
      right: 0; }
      @media only screen and (max-width: 768px) {
        .main-navigation ul li .nav-divider {
          display: none; } }
    .main-navigation ul li:last-of-type .nav-divider {
      display: none; }
  @media only screen and (max-width: 600px) {
    .main-navigation ul {
      display: none; } }

.logo {
  display: inline-block;
  float: left;
  line-height: 60px;
  padding: 10px 25px 0 0; }

#header-nav {
  display: block;
  float: left; }

@media only screen and (min-width: 769px) {
  #header-nav {
    max-height: 60px; } }
/*change line-height for submenu */
#primary-menu .sub-menu li a {
  line-height: 20px;
  padding: 10px; }

#primary-menu li a {
  text-transform: uppercase;
  color: #141414;
  padding: 0 20px;
  line-height: 60px;
  -webkit-transition: all 0ms ease;
  transition: all 0ms ease;
  font-size: .8em; }
  #primary-menu li a:hover {
    color: #025490; }
  @media only screen and (max-width: 1000px) {
    #primary-menu li a {
      padding: 0 17px; } }
  @media only screen and (max-width: 850px) {
    #primary-menu li a {
      padding: 0 10px; } }
  @media only screen and (max-width: 601px) {
    #primary-menu li a {
      padding: 0 13px;
      font-size: 0.625rem;
      line-height: 4; } }

.site-branding {
  display: inline-block; }
  .site-branding img {
    padding: 10px; }

/*#site-navigation {
    float: left;
    display: inline-block;
    position: relative;
    z-index: 0;
}*/
.main-navigation ul ul {
  top: 2.5em;
  background: #fff; }

/* ======= MOBILE MENU STYLES ====== */
.menu-toggle {
  margin: 0 auto 3%;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 0;
  background: rgba(191, 213, 237, 0.6); }

/*==== SEARCH FORM TOGGLE ======*/
.site-header .search-form {
  float: right;
  background: #0066b3;
  padding: 10px; }
  .site-header .search-form input[type=submit] {
    background: #d4d4d4;
    color: #222;
    padding: 0px 5px;
    width: 33px; }
  @media only screen and (max-width: 920px) {
    .site-header .search-form {
      float: none;
      text-align: center; } }

.home .site-header .search-form {
  background: transparent; }
.home .site-header .search-submit {
  display: none; }
.home .site-header .search-field {
  background-color: transparent;
  background-image: url(../images/search-icon.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  cursor: pointer;
  height: 37px;
  margin: 3px 0;
  padding: 0 0 0 34px;
  position: relative;
  -webkit-transition: width 400ms ease, background 400ms ease;
  transition: width 400ms ease, background 400ms ease;
  font: normal normal normal 1em/1 FontAwesome;
  width: 0; }
  .home .site-header .search-field:before {
    content: "\f002"; }

.home .site-header .search-field:focus {
  background-color: #fff;
  border: 2px solid #c3c0ab;
  cursor: text;
  outline: 0;
  width: 115px;
  font-size: .8em;
  margin-right: -20px; }

/* ====== NOT HOME STYLES ======= */
body:not(.home) #primary-menu li a {
  text-transform: none; }
body:not(.home) #primary-menu li.menu-item-home {
  display: none; }
body:not(.home) .main-navigation ul.menu > li.menu-item-has-children > a:after, body:not(.home) .main-navigation ul.menu > li.page_item_has_children > a:after, body:not(.home) .main-navigation ul.nav-menu > li.menu-item-has-children > a:after, body:not(.home) .main-navigation ul.nav-menu > li.page_item_has_children > a:after {
  display: none; }

.site-header .search-field {
  background-color: #fff;
  background-image: none;
  cursor: pointer;
  height: auto;
  padding: 3px 0px 3px 15px;
  position: relative;
  -webkit-transition: width 400ms ease, background 400ms ease;
  transition: width 400ms ease, background 400ms ease;
  font-size: .9em;
  width: auto;
  text-transform: uppercase; }
  .site-header .search-field:before {
    content: ""; }

.site-header .search-field:focus {
  background-color: #fff;
  border: inherit;
  cursor: text;
  outline: 0;
  width: auto; }

/*============== PRODUCTS CUBES ==============*/
.products-container {
  padding-top: 12px;
  width: 100%;
  background: #fff;
  -webkit-transform: translateZ(10px);
  -ms-transform: translateZ(10px);
  transform: translateZ(10px); }
  .products-container:before, .products-container:after {
    content: " ";
    display: table; }
  .products-container:after {
    clear: both; }
  .products-container .quad-one, .products-container .quad-two, .products-container .quad-three, .products-container .quad-four {
    width: 50%;
    display: block;
    float: left; }
  .products-container .quad-one > div, .products-container .quad-two > div, .products-container .quad-three > div, .products-container .quad-four > div {
    display: inline-block; }
  .products-container .grid-1-1 > img, .products-container .grid-1-2 > img, .products-container .grid-1-3 > img, .products-container .grid-2-1 > img, .products-container .grid-2-2 > img, .products-container .grid-2-3 > img {
    width: 100%;
    position: absolute;
    max-height: 100%; }
  .products-container .grid-1-1 > img.mobile, .products-container .grid-1-2 > img.mobile, .products-container .grid-1-3 > img.mobile, .products-container .grid-2-1 > img.mobile, .products-container .grid-2-2 > img.mobile, .products-container .grid-2-3 > img.mobile {
    display: none; }
  .products-container .grid-1-1, .products-container .grid-1-2, .products-container .grid-1-3, .products-container .grid-2-1, .products-container .grid-2-2, .products-container .grid-2-3 {
    background: #fff;
    position: relative;
    float: left;
    margin-bottom: 12px; }
    .products-container .grid-1-1 .rule, .products-container .grid-1-2 .rule, .products-container .grid-1-3 .rule, .products-container .grid-2-1 .rule, .products-container .grid-2-2 .rule, .products-container .grid-2-3 .rule {
      display: inline-block;
      width: 172px;
      height: 3px;
      background: #E9B226;
      margin: 9px 0px 6px 0px; }
    .products-container .grid-1-1.bottom-content .panel, .products-container .grid-1-2.bottom-content .panel, .products-container .grid-1-3.bottom-content .panel, .products-container .grid-2-1.bottom-content .panel, .products-container .grid-2-2.bottom-content .panel, .products-container .grid-2-3.bottom-content .panel {
      position: absolute;
      top: 0;
      width: 100%;
      min-height: 0;
      background: rgba(255, 255, 255, 0.9);
      -webkit-transition: min-height 300ms ease-in-out;
      transition: min-height 300ms ease-in-out; }
    .products-container .grid-1-1.bottom-content .content-container, .products-container .grid-1-2.bottom-content .content-container, .products-container .grid-1-3.bottom-content .content-container, .products-container .grid-2-1.bottom-content .content-container, .products-container .grid-2-2.bottom-content .content-container, .products-container .grid-2-3.bottom-content .content-container {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.9);
      min-height: 198px;
      border: 1px solid #CFCFD5;
      -webkit-transition: min-height 300ms ease-in-out;
      transition: min-height 300ms ease-in-out; }
      .products-container .grid-1-1.bottom-content .content-container h2, .products-container .grid-1-2.bottom-content .content-container h2, .products-container .grid-1-3.bottom-content .content-container h2, .products-container .grid-2-1.bottom-content .content-container h2, .products-container .grid-2-2.bottom-content .content-container h2, .products-container .grid-2-3.bottom-content .content-container h2 {
        margin-top: 44px;
        margin-bottom: 0px;
        line-height: 34px;
        font-weight: 300; }
      .products-container .grid-1-1.bottom-content .content-container p, .products-container .grid-1-2.bottom-content .content-container p, .products-container .grid-1-3.bottom-content .content-container p, .products-container .grid-2-1.bottom-content .content-container p, .products-container .grid-2-2.bottom-content .content-container p, .products-container .grid-2-3.bottom-content .content-container p {
        margin-top: 3px; }
    .products-container .grid-1-1.right-content .content-container, .products-container .grid-1-2.right-content .content-container, .products-container .grid-1-3.right-content .content-container, .products-container .grid-2-1.right-content .content-container, .products-container .grid-2-2.right-content .content-container, .products-container .grid-2-3.right-content .content-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.9);
      width: 50%;
      border: 1px solid #CFCFD5;
      -webkit-transition: width 300ms ease-in-out;
      transition: width 300ms ease-in-out; }
      .products-container .grid-1-1.right-content .content-container .content-inner, .products-container .grid-1-2.right-content .content-container .content-inner, .products-container .grid-1-3.right-content .content-container .content-inner, .products-container .grid-2-1.right-content .content-container .content-inner, .products-container .grid-2-2.right-content .content-container .content-inner, .products-container .grid-2-3.right-content .content-container .content-inner {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .products-container .grid-1-1.left-content .content-contaner, .products-container .grid-1-2.left-content .content-contaner, .products-container .grid-1-3.left-content .content-contaner, .products-container .grid-2-1.left-content .content-contaner, .products-container .grid-2-2.left-content .content-contaner, .products-container .grid-2-3.left-content .content-contaner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.9);
      width: 50%;
      border: 1px solid #CFCFD5;
      -webkit-transition: width 300ms ease-in-out;
      transition: width 300ms ease-in-out; }
      .products-container .grid-1-1.left-content .content-contaner .content-inner, .products-container .grid-1-2.left-content .content-contaner .content-inner, .products-container .grid-1-3.left-content .content-contaner .content-inner, .products-container .grid-2-1.left-content .content-contaner .content-inner, .products-container .grid-2-2.left-content .content-contaner .content-inner, .products-container .grid-2-3.left-content .content-contaner .content-inner {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .products-container .grid-1-1.no-overlay .overlay, .products-container .grid-1-2.no-overlay .overlay, .products-container .grid-1-3.no-overlay .overlay, .products-container .grid-2-1.no-overlay .overlay, .products-container .grid-2-2.no-overlay .overlay, .products-container .grid-2-3.no-overlay .overlay {
      width: 100%;
      height: 100%;
      background-color: #000;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .25;
      -webkit-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out; }
    .products-container .grid-1-1 div, .products-container .grid-1-2 div, .products-container .grid-1-3 div, .products-container .grid-2-1 div, .products-container .grid-2-2 div, .products-container .grid-2-3 div {
      position: absolute;
      top: 0;
      width: 100%;
      min-height: 0;
      background: rgba(255, 255, 255, 0.9);
      -webkit-transition: min-height 300ms ease-in-out;
      transition: min-height 300ms ease-in-out; }
    .products-container .grid-1-1 .content-container, .products-container .grid-1-2 .content-container, .products-container .grid-1-3 .content-container, .products-container .grid-2-1 .content-container, .products-container .grid-2-2 .content-container, .products-container .grid-2-3 .content-container {
      padding: 0 23px 0 23px; }
      .products-container .grid-1-1 .content-container .content-inner p, .products-container .grid-1-2 .content-container .content-inner p, .products-container .grid-1-3 .content-container .content-inner p, .products-container .grid-2-1 .content-container .content-inner p, .products-container .grid-2-2 .content-container .content-inner p, .products-container .grid-2-3 .content-container .content-inner p {
        float: left;
        clear: left; }
      .products-container .grid-1-1 .content-container .more-elements, .products-container .grid-1-2 .content-container .more-elements, .products-container .grid-1-3 .content-container .more-elements, .products-container .grid-2-1 .content-container .more-elements, .products-container .grid-2-2 .content-container .more-elements, .products-container .grid-2-3 .content-container .more-elements {
        position: absolute;
        right: 37px;
        bottom: 21px; }
  .products-container .grid-2-2 {
    width: 99.9%;
    padding-bottom: 100%;
    position: relative; }
  .products-container .grid-1-2 {
    width: 99.9%;
    padding-bottom: 49%;
    position: relative; }
  .products-container .grid-1-1 {
    width: 49%;
    float: left;
    padding-bottom: 49%; }
  .products-container .grid-1-1:nth-child(odd) {
    width: 49%;
    float: left; }
  .products-container .grid-1-1:nth-child(even) {
    width: 49%;
    float: right; }
  .products-container div[class^="grid"] {
    overflow: hidden;
    opacity: 0;
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
    transition: opacity 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out, transform 500ms ease-in-out; }
    .products-container div[class^="grid"].visible {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
  @media only screen and (min-width: 769px) {
    .products-container div[class^="grid"].static {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); } }
  .products-container div[class^="quad"].visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .products-container div[class^="quad"]:nth-child(odd) {
    padding-left: 1%;
    padding-right: 0.5%; }
  .products-container div[class^="quad"]:nth-child(even) {
    padding-right: 1%;
    padding-left: 0.5%; }

ul.products li.product {
  z-index: 99; }

#reviews {
  position: relative;
  z-index: 1; }

.woocommerce-products-header h1 {
  padding: 6px 16px;
  text-transform: uppercase;
  color: #0066b3;
  font-size: 16px;
  margin-bottom: 10px;
  background: #c8c8c8; }

h1.product_title.entry-title {
  color: #0066b3;
  font-size: 1.25em;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: normal; }

.summary.entry-summary p {
  font-size: .9em; }

#woocommerce_product_categories-2 {
  background-image: -webkit-linear-gradient(top, #ededed, #ffffff);
  background-image: -moz-linear-gradient(top, #ededed, #ffffff);
  background-image: -ms-linear-gradient(top, #ededed, #ffffff);
  background-image: -o-linear-gradient(top, #ededed, #ffffff);
  border-radius: 3px 3px 0 0;
  padding-top: 12px; }

.product-categories, .product-categories > li.cat-parent.current-cat-parent {
  position: relative; }

.product-categories > li.cat-parent.current-cat-parent > a, .widget_product_categories li.current-cat.cat-parent > a {
  background-image: -webkit-linear-gradient(top, #666667, #707070);
  background-image: -moz-linear-gradient(top, #666667, #707070);
  background-image: -ms-linear-gradient(top, #666667, #707070);
  background-image: -o-linear-gradient(top, #666667, #707070);
  padding: 3px 20px;
  color: white !important;
  text-decoration: none !important;
  width: 112%;
  display: block;
  position: relative;
  left: -12%; }

/*replaces folder icon from left nav on product side nav */
.widget_product_categories ul li.current-cat:before {
  content: "\f0da" !important;
  opacity: .8 !important; }

.product_cat-file-folder-labels .widget_product_categories-2 ul.children li.cat-item-26:before {
  content: "\f0da" !important;
  opacity: .8 !important; }

.widget_product_categories ul li:before {
  content: " " !important; }

/* Reviews sections */
.woocommerce-Reviews-title {
  font-size: 1.1em;
  color: #f93;
  font-weight: 700; }

/* ===== PRODUCT SPECS TABLES ======== */
.product-specs-box .title {
  padding: 10px 10px 10px 0;
  font-weight: 700;
  text-transform: uppercase;
  clear: both;
  font-size: 1.1em;
  color: #f93; }
.product-specs-box .data-table .even {
  background-color: #F4FAFF; }
.product-specs-box table {
  border-collapse: collapse; }
  .product-specs-box table td {
    border: 1px solid #d4d4d4;
    font-size: .8em;
    padding: .5em .75em; }

.related > h2:first-child, .upsells > h2:first-child {
  font-size: 1.3em !important;
  color: #0066b3;
  display: block !important; }

.related .products h2 {
  font-size: 1.1em;
  color: #0066b3 !important;
  display: block !important; }
.related .products .button {
  display: none; }
.related .products .price {
  display: none !important; }

/* ======== SOCIAL ICONS ========= */
.addtoany_list.a2a_kit_size_32 a > span {
  height: 20px !important;
  line-height: 20px !important;
  width: 20px !important; }

/* ========= REMOVE PARTS FROM PRODUCT PAGES OR ARCHIVE =====*/
.widget .widget-title, .widget .widgettitle {
  display: none; }

.summary.entry-summary h2 {
  display: none; }

/* ========== View More Button =========== */
.video-demo {
  background: #d4d4d4;
  padding: 10px;
  color: #0066b3;
  text-transform: uppercase;
  font-size: .8em;
  position: relative; }

.video-demo:after, .video-demo:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.video-demo:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #d4d4d4;
  border-width: 16px;
  margin-top: -16px; }

.video-demo:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #d4d4d4;
  border-width: 16px;
  margin-top: -16px; }

/* ====== WOO Buttons and notices ==== */
.added_to_cart.alt, .added_to_cart.cta, .button.alt, .button.cta, button.alt, button.cta, input[type=button].alt, input[type=button].cta, input[type=reset].alt, input[type=reset].cta, input[type=submit].alt, input[type=submit].cta {
  background-color: #0066b3 !important;
  border-color: #0066b3 !important;
  transition: all .3s;
  text-transform: uppercase;
  padding: 5px 15px; }

.woocommerce-message {
  background: #0066b3 !important; }

#payment .payment_methods > li {
  background: gray !important; }

.widget-area .widget a:not(.button) {
  font-weight: 700;
  text-decoration: none;
  font-size: 12px;
  color: #666; }

.quantity .input-text {
  padding: 6px; }

/* ===============  HOME  =================*/
.home .entry-content {
  padding: 0 20px; }
  .home .entry-content .woocommerce.columns-2 ul {
    display: flex;
    flex-wrap: wrap;
    /* smaller cubes */
    /* larger cubes */ }
    @media only screen and (max-width: 850px) {
      .home .entry-content .woocommerce.columns-2 ul li {
        width: 100%;
        margin: 0 auto;
        text-align: center; } }
    .home .entry-content .woocommerce.columns-2 ul li:nth-child(2), .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) {
      width: 22.5% !important;
      clear: right;
      margin-left: 1%; }
      @media only screen and (max-width: 850px) {
        .home .entry-content .woocommerce.columns-2 ul li:nth-child(2), .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) {
          width: 100% !important;
          margin: 0 auto;
          text-align: center; } }
      .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) a.woocommerce-LoopProduct-link, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) a.woocommerce-LoopProduct-link {
        background: none;
        background-position: 0% 0%; }
        @media only screen and (max-width: 850px) {
          .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) a.woocommerce-LoopProduct-link, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) a.woocommerce-LoopProduct-link {
            background: linear-gradient(rgba(255, 255, 255, 0.9) 100%, rgba(255, 255, 255, 0) 0%);
            background-position: 0% -900%;
            background-size: 100% 90%;
            background-repeat: no-repeat; }
            .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) a.woocommerce-LoopProduct-link:hover, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) a.woocommerce-LoopProduct-link:hover {
              background-position: 0% 0%; } }
      .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) .section-container, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) .section-container {
        background: none;
        height: 60%; }
        .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) .section-container h2, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) .section-container h2 {
          color: white;
          text-shadow: 0 1px 1px #000; }
        @media only screen and (max-width: 1050px) {
          .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) .section-container, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) .section-container {
            padding: 30px 10px 40px; }
            .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) .section-container p, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) .section-container p {
              font-size: 1.1rem;
              line-height: 1.5; } }
        @media only screen and (max-width: 850px) {
          .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) .section-container, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) .section-container {
            height: auto;
            padding: 30px 30px 40px;
            background: rgba(255, 255, 255, 0.9);
            position: absolute;
            bottom: 0;
            height: 40%;
            width: 100%;
            transition: all 300ms ease-in-out; }
            .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) .section-container h2, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) .section-container h2 {
              font-size: 1.875rem;
              color: initial; }
              .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) .section-container h2:after, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) .section-container h2:after {
                margin: 5px auto; } }
      .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) .button, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) .button {
        font-size: .9rem;
        line-height: 12px;
        padding: 6px 12px;
        border-radius: 4px;
        background: #464646;
        background: rgba(70, 70, 70, 0.7);
        text-shadow: 0 1px 1px #000;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 1px 1px 0px rgba(20, 20, 20, 0.25);
        text-transform: uppercase;
        opacity: 1;
        left: 0%;
        top: 5rem; }
        .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) .button:hover, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) .button:hover {
          background: #2d2d2d; }
        @media only screen and (max-width: 850px) {
          .home .entry-content .woocommerce.columns-2 ul li:nth-child(2) .button, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3) .button {
            position: relative;
            background: #08107B;
            padding: 16px 48px;
            box-shadow: 0px 1px 0px 0px #000000;
            color: white;
            font-weight: 100;
            top: -20px;
            text-transform: uppercase;
            opacity: 0;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
            left: 0; } }
      .home .entry-content .woocommerce.columns-2 ul li:nth-child(2):hover .section-container, .home .entry-content .woocommerce.columns-2 ul li:nth-child(3):hover .section-container {
        height: 60%; }
    .home .entry-content .woocommerce.columns-2 ul li {
      border: 1px solid #CFCFD5;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transition: all 300ms ease-in-out;
      margin-right: 1%; }
      .home .entry-content .woocommerce.columns-2 ul li a.woocommerce-LoopProduct-link {
        position: relative;
        display: block;
        background: linear-gradient(rgba(255, 255, 255, 0.9) 66.75%, rgba(255, 255, 255, 0) 0%);
        background-size: 100% 90%;
        background-position: 0% -600%;
        background-repeat: no-repeat;
        transition: all 300ms ease-in-out; }
        .home .entry-content .woocommerce.columns-2 ul li a.woocommerce-LoopProduct-link:hover {
          background-position: 0% -89%; }
      .home .entry-content .woocommerce.columns-2 ul li:hover {
        /*background-image: linear-gradient(rgba(255, 255, 255, 0.6) 100%, transparent 0%);*/
        background-repeat: no-repeat;
        background-size: 100% 100%;
        overflow: hidden; }
      .home .entry-content .woocommerce.columns-2 ul li a img {
        position: relative;
        z-index: -1;
        transition: all 300ms ease-in-out; }
      .home .entry-content .woocommerce.columns-2 ul li .section-container {
        padding: 30px 30px 40px;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        bottom: 0;
        height: 40%;
        width: 100%;
        transition: all 300ms ease-in-out; }
        .home .entry-content .woocommerce.columns-2 ul li .section-container h2 {
          position: relative;
          text-transform: uppercase;
          width: 100%;
          left: 2%;
          font-size: 1.875rem;
          font-family: Arial, sans-serif;
          font-weight: 400; }
          @media only screen and (max-width: 850px) {
            .home .entry-content .woocommerce.columns-2 ul li .section-container h2:after {
              margin: 5px auto; } }
          .home .entry-content .woocommerce.columns-2 ul li .section-container h2:after {
            content: '';
            max-width: 172px;
            height: 3px;
            background: #E9B226;
            display: block;
            margin: 10px auto; }
      @media only screen and (max-width: 950px) {
        .home .entry-content .woocommerce.columns-2 ul li .woocommerce-product-details__short-description p {
          line-height: 1.5;
          font-size: 1.1rem; } }
      .home .entry-content .woocommerce.columns-2 ul li .button {
        position: relative;
        background: #0066b3;
        padding: 16px 48px;
        box-shadow: 0px 1px 0px 0px #000000;
        color: white;
        font-weight: 100;
        left: 5%;
        top: -20px;
        text-transform: uppercase;
        opacity: 0;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
        .home .entry-content .woocommerce.columns-2 ul li .button:hover {
          background: #004980; }
        @media only screen and (max-width: 850px) {
          .home .entry-content .woocommerce.columns-2 ul li .button {
            left: 0; } }
      .home .entry-content .woocommerce.columns-2 ul li:hover .button {
        opacity: 1; }
      .home .entry-content .woocommerce.columns-2 ul li:hover img {
        transform: scale(1.025); }
      .home .entry-content .woocommerce.columns-2 ul li:hover .section-container {
        height: 49.125%; }

/*# sourceMappingURL=main.css.map */
