
ul.products li.product{
	z-index: 99;
}
#reviews {
    position: relative;
    z-index: 1;
}
.woocommerce-products-header h1{
	    padding: 6px 16px;
	    text-transform: uppercase;
	    color: #0066b3;
	    font-size: 16px;
	    margin-bottom: 10px;
	    background: #c8c8c8;
}
h1.product_title.entry-title {
    color: #0066b3;
    font-size: 1.25em;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: normal;
}
.summary.entry-summary p{
	font-size: .9em;
}
#woocommerce_product_categories-2{
	background-image: -webkit-linear-gradient(top, #ededed, #ffffff);
    background-image: -moz-linear-gradient(top, #ededed, #ffffff);
    background-image: -ms-linear-gradient(top, #ededed, #ffffff);
    background-image: -o-linear-gradient(top, #ededed, #ffffff);
    border-radius: 3px 3px 0 0;
    padding-top: 12px;
}
.product-categories, .product-categories > li.cat-parent.current-cat-parent{
	position: relative;
}
.product-categories > li.cat-parent.current-cat-parent > a, .widget_product_categories  li.current-cat.cat-parent >a{
    background-image: -webkit-linear-gradient(top, #666667, #707070);
    background-image: -moz-linear-gradient(top, #666667, #707070);
    background-image: -ms-linear-gradient(top, #666667, #707070);
    background-image: -o-linear-gradient(top, #666667, #707070);
    padding: 3px 20px;
    color: white !important;
    text-decoration: none !important;
    width: 112%;
    display: block;
 	position: relative;
 	left: -12%;
}



/*replaces folder icon from left nav on product side nav */
.widget_product_categories ul li.current-cat:before {
	 content: "\f0da" !important;
	 opacity: .8 !important;
}
.product_cat-file-folder-labels .widget_product_categories-2  ul.children li.cat-item-26:before{
	 content: "\f0da" !important;
	 opacity: .8 !important;
}
.widget_product_categories ul li:before{
	content: " " !important;  

}
/* Reviews sections */

.woocommerce-Reviews-title{
	font-size: 1.1em;
	color: #f93;
	font-weight: 700;
}
/* ===== PRODUCT SPECS TABLES ======== */
.product-specs-box {
	.title {
	    padding: 10px 10px 10px 0;
	    font-weight: 700;
	    text-transform: uppercase;
	    clear: both;
	    font-size: 1.1em;
	    color: #f93;
	}
	.data-table .even {
	    background-color: #F4FAFF;
	}
	table{
		border-collapse: collapse;
		td {
	    	border: 1px solid #d4d4d4;
	    	font-size: .8em;
	    	padding: .5em .75em;
		}
	}

	
}



.related>h2:first-child, .upsells>h2:first-child {
    font-size: 1.3em !important; 
    color: #0066b3;
    display: block !important;
  }
.related .products{
	h2 {
	    font-size: 1.1em;
	    color: #0066b3!important;
	    display: block !important;
	}
	.button{
		display: none;
	}
	.price{
		display: none !important;
	}

} 

/* ======== SOCIAL ICONS ========= */
.addtoany_list.a2a_kit_size_32 a>span {
    height: 20px !important;
    line-height: 20px !important;
    width: 20px !important;
}




/* ========= REMOVE PARTS FROM PRODUCT PAGES OR ARCHIVE =====*/
.widget .widget-title, .widget .widgettitle, {
	display:none;
}
.summary.entry-summary h2 {
    display: none;
}
/* ========== View More Button =========== */
.video-demo {
    background: #d4d4d4;
    padding: 10px;
    color: $darkBlue;
    text-transform: uppercase;
    font-size: .8em;
    position: relative;

}

.video-demo:after, .video-demo:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.video-demo:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #d4d4d4;
	border-width: 16px;
	margin-top: -16px;
}
.video-demo:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #d4d4d4;
	border-width: 16px;
	margin-top: -16px;
}


/* ====== WOO Buttons and notices ==== */
.added_to_cart.alt, .added_to_cart.cta, .button.alt, .button.cta, button.alt, button.cta, input[type=button].alt, input[type=button].cta, input[type=reset].alt, input[type=reset].cta, input[type=submit].alt, input[type=submit].cta{
	background-color: #0066b3 !important;
	border-color:#0066b3 !important;
	transition: all .3s;
	text-transform: uppercase;
    padding: 5px 15px;
}
.woocommerce-message{
	background:#0066b3 !important;
}
#payment .payment_methods > li{
	background: gray !important;
}
.widget-area .widget a:not(.button) {
    font-weight: 700;
    text-decoration: none;
    font-size: 12px;
    color: #666;
}
.quantity .input-text{
	padding: 6px;
}

/* ===============  HOME  =================*/
.home .entry-content {
    padding: 0 20px;

   
    .woocommerce.columns-2{
    	ul{
    		display: flex;
		    flex-wrap: wrap;
		    
		    @media only screen and (max-width: 850px) {
		    	li{
		    		width: 100%;
		    		margin: 0 auto;
    				text-align: center;
		    	}
		    }

		    /* smaller cubes */
    		li:nth-child(2),li:nth-child(3){
    			width: 22.5% !important;
    			clear: right;
    			margin-left:1%;

    			@media only screen and (max-width: 850px) {
    				width: 100% !important;
    				margin: 0 auto;
    				text-align: center;
    			}

    			a.woocommerce-LoopProduct-link{
    				background: none;
    				background-position: 0% 0%;
    				
	    			@media only screen and (max-width: 850px) {
	    				background: linear-gradient(rgba(255, 255, 255, 0.9) 100%, rgba(255, 255, 255, 0) 0%);
	    				background-position: 0% -900%;
	    				background-size: 100% 90%;
	    				background-repeat: no-repeat;

	    				&:hover{
		    				background-position: 0% 0%;
		    			}
	    			}
	    			
    			}
    			.section-container{
    				background:none;
    				height: 60%;
    				h2{
    					color: white;
    					text-shadow: 0 1px 1px #000;
    				}
    				@media only screen and (max-width: 1050px) {
    					padding: 30px 10px 40px;
    						p{
    							font-size: 1.1rem;
    							line-height: 1.5;
    						}
    				}
    				@media only screen and (max-width: 850px) {
    					height: auto;
			    		padding: 30px 30px 40px;
			    			background: rgba(255,255,255,.9);
			    			position: absolute;
		    				bottom: 0;
		    				height: 40%;
		    				width: 100%;
		    				transition: all 300ms ease-in-out;

		    				h2{
		    					font-size: 1.875rem;
		    					color: initial;

		    					&:after{
		    						margin: 5px auto;
		    					}
		    				}
    				}
    			}
    			.button{
	    				font-size: .9rem;
					    line-height: 12px;
					    padding: 6px 12px;
					    border-radius: 4px;
					    background: $darkGrey;
					    background: rgba($darkGrey, .7);
					    text-shadow: 0 1px 1px #000;
					    border: 1px solid #FFFFFF;
					    box-shadow: 0px 1px 1px 0px rgba(20, 20, 20, 0.25);
					    text-transform: uppercase;
					    opacity: 1;
					    left: 0%;
    					top: 5rem;

    					&:hover{
    						background: darken($darkGrey, 10%);
    					}

    					@media only screen and (max-width: 850px) {
    						position: relative;
			    			background: #08107B;
						    padding: 16px 48px;
						    box-shadow: 0px 1px 0px 0px #000000;
						    color: white;
						    font-weight: 100;
						    top: -20px;
						    text-transform: uppercase;
						    opacity: 0;
						    -webkit-transition: all 300ms ease-in-out;
						    transition: all 300ms ease-in-out;
    						left: 0;
    					}
					    
	    			}
	    		&:hover{
	    			.section-container{
	    				height: 60%;
	    			}
	    			
	    		}

    		}
    		/* larger cubes */
    		li{
	    		border: 1px solid #CFCFD5;
	    		background-repeat: no-repeat;
	    		background-size: 100% 100%;
	    		transition: all 300ms ease-in-out;
	    		margin-right: 1%;

	    		a.woocommerce-LoopProduct-link{
	    			position: relative;
				    display: block;
				  	background: linear-gradient( rgba(255,255,255,.9) 66.75%, rgba(255,255,255,0) 0%);
				  	background-size: 100% 90%;
					background-position: 0% -600%;
					background-repeat: no-repeat;
					transition: all 300ms ease-in-out;

					&:hover{
						background-position: 0% -89%;
					}
				}


    			&:hover{
    			/*background-image: linear-gradient(rgba(255, 255, 255, 0.6) 100%, transparent 0%);*/
		    		background-repeat: no-repeat;
		    		background-size: 100% 100%;
		    		overflow: hidden;
    			}

	    		a{
	    			img{
	    				position: relative;
	    				z-index: -1;
	    				transition: all 300ms ease-in-out;
	    			}
	    		}
	    		.section-container{
	    			padding: 30px 30px 40px;
	    			background: rgba(255,255,255,.9);
	    			position: absolute;
    				bottom: 0;
    				height: 40%;
    				width: 100%;
    				transition: all 300ms ease-in-out;

    				

		    		h2{
				    	position: relative;
					    text-transform: uppercase;
					    width: 100%;
					    left: 2%;
					    font-size: 1.875rem;
					    font-family: Arial, sans-serif;
					    font-weight: 400;
					    @media only screen and (max-width: 850px) {
							&:after{
			    				margin: 5px auto;
			    			}
						}  

					    &:after{
					    	content: '';
						    max-width: 172px;
						    height: 3px;
						    background: $gold;
						    display: block;
						    margin: 10px auto;
							  
   
					    }
				    }
				   
				    }
				    .woocommerce-product-details__short-description{
						@media only screen and (max-width: 950px) {
	    					p{line-height: 1.5;font-size: 1.1rem;}
	    				}
				    	  
				}
			    .button{
			    	position: relative;
	    			background: $darkBlue;
				    padding: 16px 48px;
				    box-shadow: 0px 1px 0px 0px #000000;
				    color: white;
				    font-weight: 100;
				    left: 5%;
				    top: -20px;
				    text-transform: uppercase;
				    opacity: 0;
				    -webkit-transition: all 300ms ease-in-out;
				    transition: all 300ms ease-in-out;

				    &:hover{
				    	background: darken($darkBlue, 10%);
				    }

				    @media only screen and (max-width: 850px) {
    						left: 0;
    				}
			    }
			    &:hover .button{
			    	opacity: 1;

				}
				&:hover img{
					transform: scale(1.025);
				}
				&:hover .section-container{
    					height: 49.125%;
    			}
	    	}
	    }


    }
  
}
