/*======== HOME PAGE  ===========*/
 .page-header-container {
    max-width: 1600px;
    margin: 0 auto;
}
.logo {
    display: block;
    float: left;
    line-height: 60px;
    width: 199px;
    z-index: 5;
    position: relative;
    padding-left: 23px;
}

#header-nav {
    display: block;
    float: left;
    /*width: 69.0049%;
    width: calc(100% - 380px);*/
}
@media only screen and (min-width: 769px){
	#header-nav {
	    max-height: 60px;
	    overflow: hidden;
	}
}
#primary-menu li{
	display: inline-block;
    z-index: 5;

    a{
    	text-transform: uppercase;

    	@media only screen and (min-width: 769px)
		{
		    padding: 0 23.5px;
		    font-size: 12px;
		    color: #141414;
		    line-height: 60px;
		    -webkit-transition: all 0ms ease;
		    transition: all 0ms ease;
		}
    }
}
.site-branding{
	display:inline-block;

	img{
		padding: 10px;
	}
}
#site-navigation {
    float: left;
    display: inline-block;
    position: fixed;
    z-index: 3;
}
.main-navigation ul ul{
	top: 2.5em;
	background:#fff;
}
/*==== SEARCH FORM TOGGLE ======*/
.site-header .search-form {
	position: absolute;
	right: 200px;
	top: 200px;
}

.site-header .search-field {
	background-color: transparent;
	background-image: url(../images/search-icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	font: normal normal normal 1em/1 FontAwesome;
	width: 0;

	&:before{
		content: "\f002";
	}
}
.site-header .search-field:focus {
	background-color: #fff;
	border: 2px solid #c3c0ab;
	cursor: text;
	outline: 0;
	width: 230px;
}
.search-form
.search-submit { 
	display:none;
}